$dropdown-width: 120px;

.searchBoxText {
  font: 400 14px/22px 'Noto Sans KR';
}

.searchBox {
  height: 40px;
  @extend .searchBoxText;

  &__dropdown {
    border: 1px solid #CDCED6;
    border-radius: 3px 0px 0px 3px;
    padding-top: 3px;
    &:hover {
      border-color: #5094FA;
    }

    &__toggle {
      @extend .searchBoxText;
      width: $dropdown-width;
      text-align-last:left;
      letter-spacing: -0.1px;
      color: black;
      &::after {
        position: absolute;
        left: 70%;
        top: 30%;
      }
      &:hover, &:focus {
        color: black;
      }
    }

    &__menu {
      min-width: $dropdown-width;
      margin-top: 8px;

      &__item {
        @extend .searchBoxText;
        width: $dropdown-width;
        height: 30px;

        color: #2B2D36;
        display: flex;
        align-items: center;
        line-height: 30px;

        &:hover {
          background: rgba(80, 148, 250, 0.24);
          color: #1D6CE0;
        }
      }
    }
  }
  
  &__input {
    width: 276px;
    height: 40px;

    border: 1px solid #CDCED6;
    border-radius: 0px;

    &::placeholder {
      @extend .searchBoxText;
    }
  }

  &__searchButton {
    @extend .searchBoxText;
    height: 40px;
    min-width: 84px;
  }
}

