.title {
	font: 700 38px/57px "Noto Sans KR" ;
	align-self: center;
}

.titleRow {
	padding-top: 80px;
	display: flex;
	justify-content: center;
	h1 {
		font: 700 38px/57px "Noto Sans KR" ;
	}
}
.searchBoxRow {
	margin-top: 32px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
}

.sidebarButtonRow {
	margin-top: 60px;
	margin-bottom: 20px;
	
	.sidebarButton {
		width: 169px;
		height: 40px;

		&__heart {
			margin-bottom: 3px;
		}

		&[data-clicked=true] {
			background: rgba(80, 148, 250, 0.24);
			color: #1D6CE0;
		}

		&[data-clicked=false] {
			background: rgba(205, 206, 214, 0.08);
			color: black;
		}

		&__text {
			margin-left: 9px;
		}
	}
}
